:root {
    --color-dark: #2d2d2d;

    --color-light: #ffffff;
    --color-light-5: #f7f5f3;
    --color-light-10: #e3e3e3;
    --color-light-20: #aaa19b;

    --color-gray: #878787;

    --color-accent: #ba3737;
    --color-accent-10: #9f2e2e;

    --font-family: Verdana, Tahoma, sans-serif;

    --transition-duration: 0.2s;
}
